body {
	background:#46a1de;
}

.animated {
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes bounceOutDown {
  0% {
	opacity: 1;
    -webkit-transform: translate(350px, -500px);
    transform: translate(350px, -500px);
  }

  100% {
    opacity: 0.8;
    -webkit-transform: translate(0, 1500px);
    transform: translate(0, 1500px);
  }
}

@keyframes bounceOutDown {
  0% {
	opacity: 1;
	-webkit-transform: translate(350px, -500px);
    -ms-transform: translate(350px, -500px);
    transform: translate(350px, -200px);
  }
  
  100% {
    opacity: 0.8;
    -webkit-transform: translate(0, 1500px);
    -ms-transform: translate(0, 1500px);
    transform: translate(0, 1500px);
  }
}

.bounceOutDown {
  -webkit-animation-name: bounceOutDown;
  animation-name: bounceOutDown;
}