@import url(http://fonts.googleapis.com/css?family=Lato:,300italic,300,400italic,400,700italic,700);

body {
  background: #f2f3f5;
  color: #333;
  font: inherit;
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
}

div.shell {
  display: block;
  width: 768px;
  margin: 0 auto;
}

header {
  margin-top:20px;
  text-align: center;
}

footer {
  margin-top:30px;
  font-size: 13px;
  text-align: center;
}

#main .title {
  margin: 10px 0;
  padding-bottom: 20px;
  border-bottom: dashed 1px;
  color: #2d3e50;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-shadow: 1px 0 0 #B7B7B7;
}

#content{
  text-align:center;
  padding-bottom: 40px;
}

ul {
	text-align:center;
}

li {
	padding: 30px 10px 10px;
}

li a {
	color: #fff;
	padding: 10px;
	background: #2d3e50;
	font-size: 17px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 
	text-decoration:none !important; 
	}
	
li a:hover {
	background:#394F66;
}

/* Content based headers */

#main_content > .header-level-1:first-child,
#main_content > .header-level-2:first-child,
#main_content > .header-level-3:first-child,
#main_content > .header-level-4:first-child,
#main_content > .header-level-5:first-child,
#main_content > .header-level-6:first-child {
  margin: 0 0 10px;
}

@media only screen and (max-width:768px){
	div.shell {
		width:100%;
	}	
}

