@import url(https://fonts.googleapis.com/css?family=Lato:,300italic,300,400italic,400,700italic,700);

body {
	background : #f2f3f5;
	color : #333;
	font : inherit;
	font-family : "Lato";
	font-size : 62.5%;
	-webkit-font-smoothing : antialiased;
	margin : 20px auto 0;
	text-transform : uppercase;
	width : 84%;
}
header {
	text-align : center;
}
.title {
	color : #2d3e50;
	font-size : 2.8rem;
	font-weight : 700;
	margin : 20px 0 10px;
	text-align : center;
	text-shadow : 1px 0 0 #b7b7b7;
}
.title-upper {
	border-bottom : 1px dashed #333;
	padding-bottom : 20px;
}
.container {
	border-bottom : 1px dashed #333;
	display : block;
	margin : 0 auto;
	overflow : hidden;
	padding : 20px 0;
}
.item {
	color : #333;
	float : left;
	font-size : .8rem;
	line-height : 1.6;
	margin : 10px 2% 10px 2%;
	text-align : center;
	white-space : nowrap;
	width : 21%;
}
.item img {
	border-radius : 5px;
	max-width : 100%;
}
.item a {
	text-decoration : none;
}
.item a:hover {
	opacity : .5;
}

footer {
	margin : 20px 0 30px;
	text-align : center;
}
.copyright {
	font-size : 1rem;
}
.copyright a {
	color : #333;
	text-decoration : none;
}
.copyright a:hover {
	text-decoration : underline;
}
@media only screen and (max-width : 940px),
only screen and (max-device-width : 940px) {
	.item {
		width : 21%;
	}
}
@media only screen and (max-width : 720px),
only screen and (max-device-width : 720px) {
	.item {
		width : 29.33333%;
	}
}
@media only screen and (max-width : 640px),
only screen and (max-device-width : 640px) {
	.title {
		font-size : 1.6rem;
	}
	.item {
		margin : 10px 0;
		width : 100%;
	}
	.item img {
		width : 100%;
	}
}