@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'modern-normalize' layer(base);
@import 'yama-normalize/yama-normalize.css' layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --spacing-y-rhythm-1: var(--y-rhythm-1);
  --spacing-y-rhythm-2: var(--y-rhythm-2);
  --spacing-y-rhythm-3: var(--y-rhythm-3);
  --spacing-y-rhythm-4: var(--y-rhythm-4);
  --spacing-y-rhythm-5: var(--y-rhythm-5);
  --spacing-y-container: var(--y-container-padding);
  --color-y-white-base: var(--y-white-base);
  --color-y-black-base: var(--y-black-base);
  --color-y-white-low: var(--y-white-low);
  --color-y-white-medium: var(--y-white-medium);
  --color-y-blue-low: var(--y-blue-low);
  --color-y-blue-medium: var(--y-blue-medium);
  --color-y-purple-medium: var(--y-purple-medium);
  --color-y-arcticle-border-color: var(--y-arcticle-border-color);
  --color-y-identity-color: var(--y-identity-color);
  --color-y-body-background: var(--y-body-background);
  --color-y-body-text: var(--y-body-text-color);
  --color-y-hr-border-color: var(--y-hr-border-color);
  --text-y-h2: var(--y-h2-size);
  --text-y-h3: var(--y-h3-size);
  --text-y-small: calc(var(--y-typography-base) / var(--y-font-ratio));
  --leading-y-rhythm-3: var(--y-rhythm-3);
  --leading-y-rhythm-4: var(--y-rhythm-4);
  --leading-y-rhythm-5: var(--y-rhythm-5);
}

@layer components {
  html {
    scroll-padding-top: 10px;
  }
  html[lang="ja"] main {
    max-inline-size: 100%;
  }
}
