---
import { useTranslations } from "../../../i18n/util";

const t = useTranslations(Astro);
---

<section id="contact" aria-labelledby="contact-heading">
  <h2 id="contact-heading">{t("heading.contact")}</h2>
  <address>
    <a href="mailto:0910yama@gmail.com">0910yama@gmail.com</a>
  </address>
</section>
