---
import GlobalListComponent from "../../global/GlobalListComponent.astro";
import { useTranslations } from "../../../i18n/util";
const t = useTranslations(Astro);
---

<section id="career" aria-labelledby="career-heading">
  <h2 id="career-heading">{t("heading.career")}</h2>
  <slot />
  <h3 id="job_heading">{t("heading.jobs")}</h3>
  <GlobalListComponent
    list={[
      {
        title: t("career.jobs.frontend-designer")
      },
      {
        title: t("career.jobs.ui-designer")
      }
    ]}
  />
  <h3>{t("heading.related-list")}</h3>
  <GlobalListComponent
    list={[
      {
        title: t("career.links.curriculum-vitae"),
        url: "https://github.com/yamanoku/Curriculum-Vitae/blob/main/README.md",
        isExternal: true,
        isGitHubLink: true
      },
      {
        title: t("career.links.wantedly"),
        url: "https://www.wantedly.com/id/okutooyama",
        isExternal: true
      },
      {
        title: t("career.links.lapras"),
        url: "https://lapras.com/public/ZQJMZYO",
        isExternal: true
      },
      {
        title: t("career.links.youtrust"),
        url: "https://youtrust.jp/users/57ea573ffca186c3b339f1739915f40b",
        isExternal: true
      }
    ]}
  />
</section>
