---
import { getLanguageFromURL, useTranslations } from "../../../i18n/util";
import GlobalListComponent from "../../global/GlobalListComponent.astro";

const lang = getLanguageFromURL(Astro.url.pathname);
const t = useTranslations(Astro);
---

<section id="daily-journal" aria-labelledby="daily-journal_heading">
  <h2 id="daily-journal_heading">{t("heading.daily-journal")}</h2>
  <slot />
  {lang === "en" && <em>Sorry, Japanese text only</em>}
  <GlobalListComponent
    list={[
      {
        title: "nippo-2025",
        url: "https://scrapbox.io/yamanoku/nippo-2025"
      },
      {
        title: "nippo-2024",
        url: "https://scrapbox.io/yamanoku/nippo-2024"
      },
      {
        title: "nippo-2023",
        url: "https://scrapbox.io/yamanoku/nippo-2023"
      },
      {
        title: "nippo-2022",
        url: "https://scrapbox.io/yamanoku/nippo-2022"
      },
      {
        title: "nippo-2021",
        url: "https://scrapbox.io/yamanoku/nippo-2021"
      }
    ]}
  />
</section>
