---
import GlobalListComponent from "../../global/GlobalListComponent.astro";
import { useTranslations } from "../../../i18n/util";
const t = useTranslations(Astro);
---

<section
  id="open-source-activity"
  aria-labelledby="open-source-activity_heading"
>
  <h2 id="open-source-activity_heading">{t("heading.open-source-activity")}</h2>
  <p>{t("open-source-activity.descripion")}</p>
  <GlobalListComponent
    list={[
      {
        title: t("open-source-activity.link-2021"),
        url: "https://www.notion.so/yamanoku/2021-2c4fa51b832645f494698ebd11e069f9",
        isExternal: true
      }
    ]}
  />
  <article id="donate" aria-labelledby="donate_heading" class="donate">
    <div>
      <em id="donate_heading">{t("heading.donate")}</em>
    </div>
    <p>{t("donate.description")}</p>
    <GlobalListComponent
      list={[
        {
          title: "GitHub Sponsors",
          url: "https://github.com/sponsors/yamanoku",
          isExternal: true,
          isGitHubLink: true
        },
        {
          title: "Stripe Payment Links",
          url: "https://buy.stripe.com/00gaEY1Eh5bE7VC8ww",
          isExternal: true
        },
        {
          title: "Buy me a coffee",
          url: "https://buymeacoffee.com/yamanoku",
          isExternal: true
        }
      ]}
    />
  </article>
</section>

<style is:global>
  .donate {
    border: 1px solid var(--y-arcticle-border-color);
    padding-top: var(--y-rhythm-3);
    padding-left: var(--y-rhythm-3);
    padding-right: var(--y-rhythm-3);
  }
  .donate::before {
    display: none;
  }
  .donate > ul {
    margin-bottom: 0;
  }
</style>
