---
import { useTranslations } from "../../../i18n/util";
import GlobalListComponent from "../../global/GlobalListComponent.astro";

const t = useTranslations(Astro);
---

<section
  id="social-network-services"
  aria-labelledby="social-network-services_heading"
>
  <h2 id="social-network-services_heading">{t("heading.sns")}</h2>
  <GlobalListComponent
    list={[
      {
        title: "X (formerly Twitter)",
        url: "https://x.com/yamanoku"
      },
      {
        title: "Bluesky",
        url: "https://bsky.app/profile/yamanoku.net"
      },
      {
        title: "GitHub",
        url: "https://github.com/yamanoku"
      }
    ]}
  />
</section>
