/* Contdonwn */

body {
    background: #fff;
    color: #999;
    -moz-text-shadow: 0 -1px 0 #000;
    -webkit-text-shadow: 0 -1px 0 #000;
    text-shadow: 0 -1px 0 #000;
    font-family: 'Helvetica Neue','Helvetica','Arial', sans-serif;
}


.container {
    text-align: center;
    margin: 0 auto;
    width: 800px;
    height: 400px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin: -200px 0 0 -400px;
}
    
h1,
h2 {
    margin: 0;
    color: #333;
}
    
h1 {
    font-size: 40px;
    margin: 0 0 10px;
    line-height: 1;
}

h2 {
    font-size: 18px;
}

#CDT {
    font-size: 60px;
    color: #333;
    margin: 20px 0 100px;
    font-weight: bold;
}

#CDT .number-wrapper {
    margin: 10px;
    position: relative;
}

#CDT .number {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
       
#CDT .line {
    position: absolute;
    width: 100%;
}
       
.caption {
   font-size: 12px;
   position: absolute;
   bottom: -30px;
   left: 0;
   text-align: center;
   width: 100%;
   color: #777;
}
    
footer {
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    color: #777;
}

footer p {
    margin: .5em 0;
    line-height: 1.5;
}