---
import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import CareerLinkList from '../../components/list-contents/CareerLinkList.astro'
import DonateServiceList from '../../components/list-contents/DonateServiceList.astro'
import PresentationsStageList from '../../components/list-contents/PresentationsStageList.astro'
import PresentationsWriteList from '../../components/list-contents/PresentationsWriteList.astro'
import SocialServiceList from '../../components/list-contents/SocialServiceList.astro'
import ExternalLinkIcon from '../../components/svg-icons/ExternalLinkIcon.astro'
import GithubIcon from '../../components/svg-icons/GithubIcon.astro'
import MailIcon from '../../components/svg-icons/MailIcon.astro'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="Home | yamanoku.net" description="Okuto Oyama Portfolio Site" />
  </head>
  <body>
    <Header />
    <main id="main">
      <h1>yamanoku.net</h1>
      <section id="basic" aria-labelledby="basic-heading">
        <h2 id="basic-heading">Basic Info</h2>
        <dl>
          <dt>Real name</dt>
          <dd>
            Okuto Oyama
          </dd>
          <dt>Hundle name</dt>
          <dd>Oyama Michinoku, yamanoku</dd>
          <dt>Birthday</dt>
          <dd>October 30, 1989</dd>
          <dt>Sex</dt>
          <dd>Male</dd>
          <dt>Birthplace</dt>
          <dd>Noshiro, Akita</dd>
          <dt>Location</dt>
          <dd>Nagareyama, Chiba</dd>
          <dt>Family Composition</dt>
          <dd>Wife, daughter, 3 cats and a large dog</dd>
        </dl>
      </section>
      <section id="career" aria-labelledby="career-heading">
        <h2 id="career-heading">Career Info</h2>
        <p>I started my career as a Web designer, not as an engineer.</p>
        <p>I changed my job as an engineer to concentrate on programming because I thought that I could not understand the basics of what I could and could not do on the browser and could not make expressions and feature proposals that would be pleasing to users, rather than the influence of my previous career when I was in charge of all direction-design programming.</p>
        <p>I began my career as a markup engineer, taking basic coding and gradually moving into the frontend engineer space, including jQuery, Ajax communication, task runners, CSS design, and the use of frameworks.</p>
        <p>Since joining a business company, I have been working on creating an environment that facilitates front-end development of monolithic server-side applications and eliminating technical debts. As a UI designer, I design UI using web technologies and check accessibility.</p>
        <h3 id="job_heading">Job Info</h3>
        <ul aria-labelledby="job_heading">
          <li>FrontEnd Designer</li>
          <li>UI Designer</li>
        </ul>
        <h3>Related Links List</h3>
        <CareerLinkList />
      </section>
      <section id="open-source-activity" aria-labelledby="open-source-activity_heading">
        <h2 id="open-source-activity_heading">Open Source Activity</h2>
        <p>In addition to working for a company, I have been contributing to open source since 2020 in my spare time. I translate documents, propose accessibility improvements, respond to fixes, and make other minor corrections.</p>
        <ul>
          <li>
            <a href="https://www.notion.so/yamanoku/2021-2c4fa51b832645f494698ebd11e069f9" target="_blank" rel="noopener">
              Open Source Activity Log 2021
              <ExternalLinkIcon />
            </a>
          </li>
        </ul>
        <article id="donate" aria-labelledby="donate_heading" class="donate">
          <div>
            <em id="donate_heading">Donate & Sponsor</em>
          </div>
          <p>If you are interested in my work, presentations and activities, you can donate me by.</p>
          <DonateServiceList />
        </article>
      </section>
      <section id="presentations" aria-labelledby="presentations_heading">
        <h2 id="presentations_heading">Presentations</h2>
        <em>Sorry, Japanese text only</em>
        <h3 id="presentations-stage">Stage</h3>
        <PresentationsStageList />
        <h3 id="presentations-write">Writing</h3>
        <PresentationsWriteList />
        <p>
          If you are looking for content older than 1 year, please visit <a href="https://archives.yamanoku.net" target="_blank" rel="noopener">Archives<ExternalLinkIcon /></a> page.
        </p>
      </section>
      <section id="social-network-services" aria-labelledby="social-network-services_heading">
        <h2 id="social-network-services_heading">Social Service</h2>
        <SocialServiceList />
      </section>
      <section id="contact" aria-labelledby="contact-heading">
        <h2 id="contact-heading">Contact</h2>
        <address>
          <a href="mailto:0910yama@gmail.com">
            0910yama@gmail.com
            <MailIcon />
          </a>
        </address>
      </section>
    </main>
    <Footer />
  </body>
</html>

<style>
  .donate {
    border: 1px solid var(--y-arcticle-border-color);
    padding-top: var(--y-rhythm-3);
    padding-left: var(--y-rhythm-3);
    padding-right: var(--y-rhythm-3);
  }
  .donate::before {
    display: none;
  }
</style>
