.slidev-layout ul ul {
  margin-bottom: 0;
}

.slidev-layout h3 {
  font-size: 1.4rem;
  margin-bottom: 1lh;
  opacity: 1 !important;
  letter-spacing: 0;
}

.slidev-layout h2 {
  font-size: 2rem;
  margin-bottom: 1lh;
}

.slidev-layout.center h1 {
  font-size: 3rem;
  line-height: 1.2;
}

.slidev-layout.section h1 {
  font-weight: 700;
}