---
import NotFound from "../components/page-status-404/NotFound.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import "../styles/global.css";
---

<BaseLayout title={"ページが見つかりませんでした"}>
  <main id="main">
    <h1>ページが見つかりませんでした</h1>
    <NotFound />
  </main>
</BaseLayout>
