---
import BaseLayout from '../layouts/BaseLayout.astro'
import NotFound from '../components/status-404-page/NotFound.astro'
---

<BaseLayout>
  <main id="main">
    <h1>ページが見つかりませんでした</h1>
    <NotFound />
  </main>
</BaseLayout>
