---
import AddressSection from "../components/page-index/sections/AddressSection.astro";
import BasicInfoSection from "../components/page-index/sections/BasicInfoSection.astro";
import DailyJournalSection from "../components/page-index/sections/DailyJournalSection.astro";
import OpenSourceActivitySection from "../components/page-index/sections/OpenSourceActivitySection.astro";
import PresentationsSection from "../components/page-index/sections/PresentationsSection.astro";
import SocialNetworkServicesSection from "../components/page-index/sections/SocialNetworkServicesSection.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import "../styles/global.css";
---

<BaseLayout title={"ホーム"}>
  <main id="main">
    <h1>yamanoku.net</h1>
    <BasicInfoSection>
      <dd slot="info-real-name">
        <ruby
          >大<rp>(</rp><rt>おお</rt><rp>)</rp>山<rp>(</rp><rt>やま</rt><rp>)</rp
          ></ruby
        ><ruby
          >奥<rp>(</rp><rt>おく</rt><rp>)</rp>人<rp>(</rp><rt>と</rt><rp>)</rp
          ></ruby
        >
      </dd>
      <dd slot="info-hundle-name">おおやまみちのく、yamanoku</dd>
      <dd slot="info-birthday">1989年10月30日</dd>
      <dd slot="info-sex">男性</dd>
      <dd slot="info-birthplace">秋田県能代市</dd>
      <dd slot="info-location">千葉県流山市</dd>
      <dd slot="info-family">妻、娘、猫（3匹）、大型犬（1頭）</dd>
      <dd slot="info-organization">株式会社Schoo</dd>
    </BasicInfoSection>
    <OpenSourceActivitySection />
    <DailyJournalSection>
      <p>
        <a href="https://scrapbox.io/">Helpfeel Cosense</a
        >を活用し、日々の出来事や気になるニュースを日報という形でまとめています。毎日更新ではなく、気が向いたら更新しています。
      </p>
    </DailyJournalSection>
    <PresentationsSection />
    <SocialNetworkServicesSection />
    <AddressSection />
  </main>
</BaseLayout>
