---
import GlobalLinkComponent from './global/GlobalLinkComponent.astro';
const today = new Date()
---

<footer>
  <p>&copy; Copyright {today.getFullYear()}, Okuto Oyama</p>
  <p>
    Source :
    <GlobalLinkComponent link={
      {
        title: "yamanoku/yamanoku.github.io",
        url: "https://github.com/yamanoku/yamanoku.github.io/",
        isGitHubLink: true
      }
    } />
  </p>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
