---
const today = new Date()
---

<footer>
  <p>&copy; Copyright {today.getFullYear()}, Okuto Oyama</p>
  <p>
    Source :
    <a
      href="https://github.com/yamanoku/yamanoku.github.io/"
      target="_blank"
      rel="noopener">yamanoku/yamanoku.github.io</a
    >
  </p>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
