---
---

<header>
  <div class="header-logo-link-block">
    <svg
      width="246"
      height="242"
      viewBox="0 0 246 242"
      role="img"
      aria-label="yamanoku logo"
    >
      <path
        class="cls-1"
        d="M64,67v54l82,82-46,46v60h56L310,155V96H230l-21,20L160,67H64ZM176,203l-45,46h25L293,113H230l-39,39-31-31H94Z"
        transform="translate(-64 -67)"></path>
    </svg>
  </div>
  <nav>
    <a href="/">日本語ページ</a>
    <a href="/en">English Page</a>
  </nav>
</header>
<style>
  header {
    max-width: 80ch;
    margin: auto;
    padding: 0 var(--y-rhythm-2);
  }
  .header-logo-link-block {
    display: inline-block;
    margin: var(--y-rhythm-2) 0;
  }
  svg {
    width: 48px;
    height: 48px;
    vertical-align: middle;
  }
  .cls-1 {
    fill: rgb(54, 70, 93);
    fill-rule: evenodd;
  }
  @media (prefers-color-scheme: dark) {
    .cls-1 {
      fill: var(--y-white-base);
    }
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    grid-gap: var(--y-rhythm-2);
    gap: var(--y-rhythm-2);
  }
</style>
