---
import ExternalLinkIcon from '../svg-icons/ExternalLinkIcon.astro'
import GithubIcon from '../svg-icons/GithubIcon.astro'
import { useTranslations } from '../../i18n/util';
const t = useTranslations(Astro);
---

<ul>
  <li>
    <a href="https://github.com/yamanoku/Curriculum-Vitae/blob/main/README.md" target="_blank" rel="noopener">
      {t("carrer.links.curriculum-vitae")}
      <GithubIcon />
    </a>
  </li>
  <li>
    <a href="https://www.wantedly.com/id/okutooyama" target="_blank" rel="noopener">
      {t("carrer.links.wantedly")}
      <ExternalLinkIcon />
    </a>
  </li>
  <li>
    <a href="https://lapras.com/public/ZQJMZYO" target="_blank" rel="noopener">
      {t("carrer.links.lapras")}
      <ExternalLinkIcon />
    </a>
  </li>
  <li>
    <a href="https://youtrust.jp/users/57ea573ffca186c3b339f1739915f40b" target="_blank" rel="noopener">
      {t("carrer.links.youtrust")}
      <ExternalLinkIcon />
    </a>
  </li>
</ul>
