---
import ExternalLinkIcon from '../svg-icons/ExternalLinkIcon.astro'
import GithubIcon from '../svg-icons/GithubIcon.astro'
---

<ul>
  <li>
    <a href="https://github.com/sponsors/yamanoku" target="_blank" rel="noopener">
      GitHub Sponsors
      <GithubIcon />
    </a>
  </li>
  <li>
    <a href="https://buy.stripe.com/00gaEY1Eh5bE7VC8ww" target="_blank" rel="noopener">
      Stripe Payment Links
      <ExternalLinkIcon />
    </a>
  </li>
  <li>
    <a href="https://buymeacoffee.com/yamanoku" target="_blank" rel="noopener">
      Buy me a coffee
      <ExternalLinkIcon />
    </a>
  </li>
</ul>

<style>
  ul {
    margin-bottom: 0;
  }
</style>
