---
import ExternalLinkIcon from '../svg-icons/ExternalLinkIcon.astro'
---

<ul>
  <li>
    <span class="time">2022/12/13</span> - <a href="https://engineer.crowdworks.jp/entry/thanks_webpacker_goodbye_webpacker" target="_blank" rel="noopener">
      ありがとう Webpacker さようなら Webpacker
      <ExternalLinkIcon />
    </a>
  </li>
  <li>
    <span class="time">2022/12/12</span> - <a href="https://zenn.dev/yamanoku/scraps/afe08c2634034c" target="_blank" rel="noopener">
      クラウドワークス #accessibility チャンネル 気になる話題 Pickup 2022
      <ExternalLinkIcon />
    </a>
  </li>
  <li>
    <span class="time">2022/12/01</span> - <a href="https://engineer.crowdworks.jp/entry/crowdworks_frontend_2022" target="_blank" rel="noopener">
      crowdworks.jp のフロントエンド活動を振り返る 2022
      <ExternalLinkIcon />
    </a>
  </li>
  <li>
    <span class="time">2022/10/25</span> - <a href="https://engineer.crowdworks.jp/entry/report-vue-fes-japan-online-2022" target="_blank" rel="noopener">
      Vue Fes Japan Online 2022 参加レポート
      <ExternalLinkIcon />
    </a>
  </li>
  <li>
    <span class="time">2022/04/19</span> - <a href="https://engineer.crowdworks.jp/entry/html-anatomische-tabell" target="_blank" rel="noopener">
      「HTML解体新書」HTMLのこれからと向き合うための本
      <ExternalLinkIcon />
    </a>
  </li>
  <li>
    <span class="time">2022/03/02</span> - <a href="https://engineer.crowdworks.jp/entry/migrate-vue3" target="_blank" rel="noopener">
      Vue 2 からVue 3 に移行完了しました！
      <ExternalLinkIcon />
    </a>
  </li>
  <li>
    <span class="time">2021/12/30</span> - <a href="https://zenn.dev/yamanoku/articles/bd8d86ee79459b" target="_blank" rel="noopener">
      2021年オープンソースコントリビュート活動振り返り
      <ExternalLinkIcon />
    </a>
  </li>
</ul>
