---
import ExternalLinkIcon from '../svg-icons/ExternalLinkIcon.astro'
---

<ul>
  <li>
    <span class="time">2022/10/16</span> - <a href="https://speakerdeck.com/yamanoku/to-make-accessible-components-in-vuejs" target="_blank" rel="noopener">
      Vue.js でアクセシブルなコンポーネントをつくるために
      <ExternalLinkIcon />
    </a>
  </li>
  <li>
    <span class="time">2022/08/30</span> - <a href="https://scrapbox.io/yamanoku/Storybook_%E3%81%A7%E3%83%95%E3%83%AD%E3%83%B3%E3%83%88%E3%82%A8%E3%83%B3%E3%83%89%E9%96%8B%E7%99%BA%E3%81%AE%E6%B2%BB%E5%AE%89%E3%82%92%E8%89%AF%E3%81%8F%E3%81%97%E3%81%A6%E3%81%84%E3%81%8F%E8%A9%B1" target="_blank" rel="noopener">
      Storybook でフロントエンド開発の治安を良くしていく話
      <ExternalLinkIcon />
    </a>
  </li>
  <li>
    <span class="time">2022/05/19</span> - <a href="https://docs.google.com/presentation/d/e/2PACX-1vQct0iDIdaywmCjhbf49BKd5DMXLEtFlZbFs6cLfUmAfp1HVzO2jVIrym5bEmlpaIrnPxbj-pVggmeW/pub?slide=id.p1" target="_blank" rel="noopener">
      クラウドワークスのこれまでの取り組み、新たなミッションと考えるこれからについて
      <ExternalLinkIcon />
    </a>
  </li>
  <li>
    <span class="time">2022/01/19</span> - <a href="https://docs.google.com/presentation/d/e/2PACX-1vRP89QW6DxVdEND2IpKqnJag1YUw9P3rZLjQbDIJwWVtzndRNZPXHhm1765XN-i3btQ1Io0-xJeU6Gf/pub?start=false&amp;loop=false&amp;delayms=3000" target="_blank" rel="noopener">
      PWA Night vol.35 yamanoku 登壇資料
      <ExternalLinkIcon />
    </a>
  </li>
</ul>
