---
import ExternalLinkIcon from '../svg-icons/ExternalLinkIcon.astro'
import GithubIcon from '../svg-icons/GithubIcon.astro'
---

<ul>
  <li>
    <a href="https://twitter.com/okuto_oyama" target="_blank" rel="noopener">Twitter<ExternalLinkIcon /></a>
  </li>
  <li>
    <a href="https://github.com/yamanoku" target="_blank" rel="noopener">GitHub<GithubIcon /></a>
  </li>
  <li>
    <a href="https://scrapbox.io/yamanoku/" target="_blank" rel="noopener">Scrapbox<ExternalLinkIcon /></a>
  </li>
  <li>
    <a href="https://zenn.dev/yamanoku" target="_blank" rel="noopener">Zenn<ExternalLinkIcon /></a>
  </li>
  <li>
    <a href="https://facebook.com/okutooyama" target="_blank" rel="noopener">Facebook <ExternalLinkIcon /></a>
  </li>
</ul>
