:root {
  /* Old Custom Properties */
  --black: rgb(21, 32, 43);
  --white: rgb(210, 210, 210);
  --gray: rgba(70, 70, 70, .5);
  --blue: rgb(90, 190, 255);
  --purple: rgb(220, 100, 220);
  --linkBlue: rgb(18, 122, 200);
  --linkVisited: var(--black);
  --rhythm: .5rem;

  /* Base Tokens */
  --y-black-base: rgba(21, 32, 43);
  --y-white-base: rgba(255, 255, 255);
  --y-white-low: rgba(210, 210, 210);
  --y-white-medium: rgba(163, 163, 163);
  --y-blue-low: rgba(90, 190, 255);
  --y-blue-medium: rgba(18, 122, 200);
  --y-purple-medium: rgba(220, 100, 220);
  --y-rhythm-base: .5rem;

  /* Semantics Tokens */
  --y-body-background: var(--y-white-base);
  --y-body-text-color: var(--y-black-base);
  --y-link-color: var(--y-blue-low);
  --y-link-visited-color: var(--y-blue-medium);
  --y-outline-color: var(--y-blue-low);
  --y-arcticle-border-color: var(--y-white-medium);
  --y-hr-border-color: var(--y-white-medium);
  --y-list-mark-color: var(--y-black-base);
  --y-blockquote-border-color: var(--y-blue-low);
  --y-rhythm-1: calc(var(--y-rhythm-base) * 1);
  --y-rhythm-2: calc(var(--y-rhythm-base) * 2);
  --y-rhythm-3: calc(var(--y-rhythm-base) * 3);
  --y-rhythm-4: calc(var(--y-rhythm-base) * 4);
  --y-rhythm-5: calc(var(--y-rhythm-base) * 5);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Semantics Tokens */
    --y-body-background: var(--y-black-base);
    --y-body-text-color: var(--y-white-base);
    --y-link-visited-color: var(--y-purple-medium);
    --y-arcticle-border-color: var(--y-white-base);
    --y-hr-border-color: var(--y-white-base);
    --y-list-mark-color: var(--y-white-base);
    --y-text-shadow-color: var(--y-black-base);
  }
}

html {
  background-color: var(--y-body-background);
  color: var(--y-body-text-color);
  font: inherit;
  font-size: 100%;
  line-height: var(--y-rhythm-3);
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus {
  outline: 2px solid var(--y-outline-color);
  outline-offset: 2px;
}
body {
  margin: 0;
}
a {
  color: var(--y-link-color);
}
a:visited {
  color: var(--y-link-visited-color);
}
@media (prefers-color-scheme: dark) {
  a {
    text-shadow: 1px 1px 0 var(--y-text-shadow-color), 0 1px 0 var(--y-text-shadow-color);
  }
}
:where(header, main, footer) {
  display: block;
  max-width: 80ch;
  margin: auto;
  padding: 0 var(--y-rhythm-2);
}
h1 {
  margin: var(--y-rhythm-5) 0;
  font-size: 1.953em;
  line-height: var(--y-rhythm-5);
}
h2 {
  margin: var(--y-rhythm-5) 0;
  font-size: 1.563em;
  line-height: var(--y-rhythm-5);
}
h3 {
  margin: var(--y-rhythm-3) 0;
  font-size: 1.25em;
  line-height: var(--y-rhythm-3);
}
h4 {
  margin: var(--y-rhythm-3) 0;
  font-size: 1rem;
  line-height: var(--y-rhythm-3);
}
h5 {
  margin: var(--y-rhythm-2) 0;
  font-size: .8em;
  line-height: var(--y-rhythm-2);
}
h6 {
  margin: var(--y-rhythm-1) 0;
  font-size: .64em;
  line-height: var(--y-rhythm-1);
}
section {
  display: block;
  margin: var(--y-rhythm-3) 0;
}
article {
  position: relative;
  margin: var(--y-rhythm-3) 0;
  padding-bottom: var(--y-rhythm-3);
}
article::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--y-arcticle-border-color);
  position: absolute;
  bottom: 0;
  left: 0;
}
p {
  margin: var(--y-rhythm-3) 0;
  font-size: 1rem;
  line-height: var(--y-rhythm-3);
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
figure {
  margin: var(--y-rhythm-3) 0;
}
figcaption {
  margin-top: var(--y-rhythm-3);
  font-size: 1rem;
}
small {
  line-height: 1;
}
ul, ol {
  margin: var(--y-rhythm-3) 0;
  line-height: 1;
  padding-left: var(--y-rhythm-2);
}
ul ul, ul ol,
ol ol, ol ul {
  margin: 0;
}
ul li,
ol li {
  line-height: var(--y-rhythm-3);
  font-size: 1rem;
}
ul:not([class]) {
  list-style-type: none;
  position: relative;
}
ul:not([class]) li::before {
  background-color: var(--y-list-mark-color);
  border-radius: 50%;
  color: #fff;
  content: "";
  width: 6px;
  height: 6px;
  margin: 9px 0 0;
  position: absolute;
  left: 0;
}
details > summary {
  margin: var(--y-rhythm-3) 0;
  cursor: pointer;
}
blockquote {
  border-left: 6px solid var(--y-blockquote-border-color);
  margin: var(--rhythm) 0 var(--rhythm) var(--rhythm);
  padding: 0 var(--y-rhythm-2);
}
address {
  margin: var(--y-rhythm-3) 0;
}
pre {
  margin: var(--y-rhythm-3) 0;
}
hr {
  margin: var(--y-rhythm-3) 0;
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: var(--y-hr-border-color);
}
/* stylelint-disable */
.visually-hidden {
  /* https://github.com/ampproject/amphtml/blob/master/css/ampshared.css#L186-L216 */
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  width: 4px !important;
  height: 4px !important;
  opacity: 0 !important;
  overflow: hidden !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  display: block !important;
  visibility: visible !important;
}
/* stylelint-enable */
