:root {
  /** Base Tokens */
  --y-black-base: rgba(21, 32, 43);
  --y-white-base: rgba(255, 255, 255);
  --y-white-low: rgba(210, 210, 210);
  --y-white-medium: rgba(163, 163, 163);
  --y-blue-low: rgba(90, 190, 255);
  --y-blue-medium: rgba(18, 122, 200);
  --y-purple-medium: rgba(220, 100, 220);
  --y-navy-dark: rgba(54, 70, 93);
  --y-rhythm-base: .5rem;
  --y-padding-base: 8px;
  --y-font-size-base: 125%;
  --y-typography-base: 1em;
  --y-font-ratio: 1.25;
  --y-margin-base: 1lh;

  /** Semantics Tokens */
  /* Color */
  --y-body-background: var(--y-white-base);
  --y-body-text-color: var(--y-black-base);
  --y-link-color: var(--y-blue-medium);
  --y-link-visited-color: var(--y-black-base);
  --y-outline-color: var(--y-blue-medium);
  --y-arcticle-border-color: var(--y-white-medium);
  --y-image-border-color: var(--y-white-medium);
  --y-hr-border-color: var(--y-white-medium);
  --y-list-mark-color: var(--y-black-base);
  --y-blockquote-border-color: var(--y-blue-low);
  --y-thead-background-color: var(--y-white-low);
  --y-thead-text-color: var(--y-black-base);
  --y-table-border-color: var(--y-black-base);
  --y-identity-color: var(--y-navy-dark);

  /* Rhythm */
  --y-rhythm-1: calc(var(--y-rhythm-base) * 1);
  --y-rhythm-2: calc(var(--y-rhythm-base) * 2);
  --y-rhythm-3: calc(var(--y-rhythm-base) * 3);
  --y-rhythm-4: calc(var(--y-rhythm-base) * 4);
  --y-rhythm-5: calc(var(--y-rhythm-base) * 5);

  /* Spacing */
  --y-typography-margin: var(--y-margin-base);
  --y-list-margin: var(--y-margin-base);
  --y-block-margin: var(--y-margin-base);
  --y-figcaption-margin: calc(var(--y-margin-base) * 2 / 3);
  --y-container-padding: clamp(var(--y-rhythm-2), calc(1vw * 3), var(--y-rhythm-4));
  --y-table-cell-padding: var(--y-padding-base);
  --y-table-caption-padding: var(--y-padding-base);
  
  /* Typography */
  --y-h1-size: calc(var(--y-font-size-h2) * var(--y-font-ratio));
  --y-h2-size: calc(var(--y-font-size-h3) * var(--y-font-ratio));
  --y-h3-size: calc(var(--y-font-size-h4) * var(--y-font-ratio));
  --y-h4-size: var(--y-typography-base);
  --y-h5-size: calc(var(--y-font-size-h4) / var(--y-font-ratio));
  --y-h6-size: calc(var(--y-font-size-h5) / var(--y-font-ratio));
  --y-paragraph-size: var(--y-typography-base);
  --y-pre-size: calc(var(--y-typography-base) / var(--y-font-ratio));
  --y-list-item-size: var(--y-typography-base);
  --y-small-size: calc(var(--y-typography-base) / var(--y-font-ratio));
  --y-figcaption-size: calc(var(--y-typography-base) / var(--y-font-ratio));
  --y-table-caption-size: var(--y-typography-base);
  --y-table-cell-size: calc(var(--y-typography-base) / var(--y-font-ratio));

  /* yama-normalize supports both light mode and dark mode */
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Semantics Tokens */
    --y-body-background: var(--y-black-base);
    --y-body-text-color: var(--y-white-low);
    --y-link-color: var(--y-blue-low);
    --y-link-visited-color: var(--y-purple-medium);
    --y-outline-color: var(--y-blue-low);
    --y-arcticle-border-color: var(--y-white-low);
    --y-image-border-color: var(--y-white-low);
    --y-hr-border-color: var(--y-white-low);
    --y-list-mark-color: var(--y-white-low);
    --y-text-shadow-color: var(--y-black-base);
    --y-thead-background-color: var(--y-white-medium);
    --y-table-border-color: var(--y-white-low);
  }
}

html {
  background-color: var(--y-body-background);
  color: var(--y-body-text-color);
  font: inherit;
  font-size: var(--y-font-size-base);
  line-height: var(--y-rhythm-3);
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus-visible {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--y-outline-color);
  outline-offset: 2px;
}
html[lang="ja"] {
  font-kerning: none;
}
body {
  margin: 0;
}
@supports (text-autospace: normal) {
  body {
    text-autospace: normal;
  }
}
html:not([lang="ja"]) body {
  hyphens: auto;
}
html[lang="ja"] body {
  line-break: loose;
}
a {
  color: var(--y-link-color);
}
a:visited {
  color: var(--y-link-visited-color);
}
@media (prefers-color-scheme: dark) {
  a {
    text-shadow: 1px 1px 0 var(--y-text-shadow-color), 0 1px 0 var(--y-text-shadow-color);
  }
}
:where(header, main, footer) {
  display: block;
  max-inline-size: 80ch;
  box-sizing: content-box;
  padding-inline: var(--y-container-padding);
}
html[lang="ja"] :where(header, main, footer) {
  max-inline-size: 45rem;
}
h1 {
  margin-block: var(--y-typography-margin);
  font-size: var(--y-h1-size);
  line-height: var(--y-rhythm-5);
}
h2 {
  margin-block: var(--y-typography-margin);
  font-size: var(--y-h2-size);
  line-height: var(--y-rhythm-5);
}
h3 {
  margin-block: var(--y-typography-margin);
  font-size: var(--y-h3-size);
  line-height: var(--y-rhythm-3);
}
h4 {
  margin-block: var(--y-typography-margin);
  font-size: var(--y-h4-size);
  line-height: var(--y-rhythm-3);
}
h5 {
  margin-block: var(--y-typography-margin);
  font-size: var(--y-h5-size);
  line-height: var(--y-rhythm-2);
}
h6 {
  margin-block: var(--y-typography-margin);
  font-size: var(--y-h6-size);
  line-height: var(--y-rhythm-1);
}
section {
  display: block;
  margin-block: var(--y-block-margin);
}
article {
  position: relative;
  margin-block: var(--y-block-margin);
  padding-bottom: var(--y-rhythm-3);
  border-block-end: 1px solid var(--y-arcticle-border-color);
}
p {
  margin-block: var(--y-typography-margin);
  font-size: var(--y-paragraph-size);
  line-height: var(--y-rhythm-3);
}
img {
  max-inline-size: 100%;
  vertical-align: bottom;
  height: auto;
  border: 1px solid var(--y-image-border-color);
}
figure {
  margin-block: var(--y-block-margin);
  margin-inline: 0;
}
figcaption {
  margin-block-start: var(--y-figcaption-margin);
  font-size: var(--y-figcaption-size);
}
small {
  line-height: 1;
}
ul, ol {
  margin-block: var(--y-list-margin);
  line-height: 1;
  padding-inline-start: var(--y-rhythm-2);
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0;
}
ul li,
ol li {
  line-height: var(--y-rhythm-3);
  font-size: var(--y-list-item-size);
}
dl {
  margin-block: var(--y-block-margin);
  line-height: 1;
}
dt, dd {
  line-height: var(--y-rhythm-3);
  font-size: var(--y-list-item-size);
}
dd {
  margin-inline-start: var(--y-rhythm-4);
}
details > summary {
  margin-block: var(--y-block-margin);
  cursor: pointer;
}
blockquote {
  border-inline-start: 6px solid var(--y-blockquote-border-color);
  margin-block: var(--y-rhythm-1);
  margin-inline-start: var(--y-rhythm-1);
  margin-inline-end: 0;
  padding-inline: var(--y-rhythm-2);
}
address {
  margin-block: var(--y-block-margin);
}
pre {
  margin-block: var(--y-block-margin);
  font-size: var(--y-pre-size);
}
hr {
  margin-block: var(--y-block-margin);
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: var(--y-hr-border-color);
}
table {
  display: block;
  overflow-x: scroll;
  border-collapse: collapse;
  width: max-content;
  max-inline-size: 100%;
  margin-block: var(--y-block-margin);
}
caption {
  padding-block: 0;
  padding-inline: var(--y-table-caption-padding);
  font-size: var(--y-table-caption-size);
  line-height: var(--y-rhythm-3);
}
thead {
  background-color: var(--y-thead-background-color);
  color: var(--y-thead-text-color);
}
th, td {
  border: 1px solid var(--y-table-border-color);
  padding-block: 0;
  padding-inline: var(--y-table-cell-padding);
  font-size: var(--y-table-cell-size);
  line-height: var(--y-rhythm-3);
}
