:root {
  /* Base Tokens */
  --y-black-base: rgba(21, 32, 43);
  --y-white-base: rgba(255, 255, 255);
  --y-white-low: rgba(210, 210, 210);
  --y-white-medium: rgba(163, 163, 163);
  --y-blue-low: rgba(90, 190, 255);
  --y-blue-medium: rgba(18, 122, 200);
  --y-purple-medium: rgba(220, 100, 220);
  --y-navy-dark: rgba(54, 70, 93);
  --y-rhythm-base: .5rem;

  /* Semantics Tokens */
  --y-body-background: var(--y-white-base);
  --y-body-text-color: var(--y-black-base);
  --y-link-color: var(--y-blue-medium);
  --y-link-visited-color: var(--y-black-base);
  --y-outline-color: var(--y-blue-medium);
  --y-arcticle-border-color: var(--y-white-medium);
  --y-image-border-color: var(--y-white-medium);
  --y-hr-border-color: var(--y-white-medium);
  --y-list-mark-color: var(--y-black-base);
  --y-blockquote-border-color: var(--y-blue-low);
  --y-thead-background-color: var(--y-white-low);
  --y-thead-text-color: var(--y-black-base);
  --y-table-border-color: var(--y-black-base);
  --y-identity-color: var(--y-navy-dark);
  --y-rhythm-1: calc(var(--y-rhythm-base) * 1);
  --y-rhythm-2: calc(var(--y-rhythm-base) * 2);
  --y-rhythm-3: calc(var(--y-rhythm-base) * 3);
  --y-rhythm-4: calc(var(--y-rhythm-base) * 4);
  --y-rhythm-5: calc(var(--y-rhythm-base) * 5);

  /* yama-normalize supports both light mode and dark mode */
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Semantics Tokens */
    --y-body-background: var(--y-black-base);
    --y-body-text-color: var(--y-white-low);
    --y-link-color: var(--y-blue-low);
    --y-link-visited-color: var(--y-purple-medium);
    --y-outline-color: var(--y-blue-low);
    --y-arcticle-border-color: var(--y-white-low);
    --y-image-border-color: var(--y-white-low);
    --y-hr-border-color: var(--y-white-low);
    --y-list-mark-color: var(--y-white-low);
    --y-text-shadow-color: var(--y-black-base);
    --y-thead-background-color: var(--y-white-medium);
    --y-table-border-color: var(--y-white-low);
  }
}

html {
  background-color: var(--y-body-background);
  color: var(--y-body-text-color);
  font: inherit;
  font-size: 125%;
  line-height: var(--y-rhythm-3);
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus-visible {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--y-outline-color);
  outline-offset: 2px;
}
html[lang="ja"] {
  font-kerning: none;
}
body {
  margin: 0;
  text-autospace: normal;
}
html:not([lang="ja"]) body {
  hyphens: auto;
}
html[lang="ja"] body {
  line-break: loose;
}
a {
  color: var(--y-link-color);
}
a:visited {
  color: var(--y-link-visited-color);
}
@media (prefers-color-scheme: dark) {
  a {
    text-shadow: 1px 1px 0 var(--y-text-shadow-color), 0 1px 0 var(--y-text-shadow-color);
  }
}
:where(header, main, footer) {
  display: block;
  max-width: 80ch;
  box-sizing: content-box;
  margin-inline: auto;
  padding-inline: var(--y-rhythm-2);
}
html[lang="ja"] :where(header, main, footer) {
  max-width: 45rem;
}
h1 {
  margin-block: 1lh;
  font-size: 1.953em;
  line-height: var(--y-rhythm-5);
}
h2 {
  margin-block: 1lh;
  font-size: 1.563em;
  line-height: var(--y-rhythm-5);
}
h3 {
  margin-block: 1lh;
  font-size: 1.25em;
  line-height: var(--y-rhythm-3);
}
h4 {
  margin-block: 1lh;
  font-size: 1rem;
  line-height: var(--y-rhythm-3);
}
h5 {
  margin-block: 1lh;
  font-size: .8em;
  line-height: var(--y-rhythm-2);
}
h6 {
  margin-block: 1lh;
  font-size: .64em;
  line-height: var(--y-rhythm-1);
}
section {
  display: block;
  margin-block: 1lh;
}
article {
  position: relative;
  margin-block: 1lh;
  padding-bottom: var(--y-rhythm-3);
}
article::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--y-arcticle-border-color);
  position: absolute;
  bottom: 0;
  left: 0;
}
p {
  margin-block: 1lh;
  font-size: 1rem;
  line-height: var(--y-rhythm-3);
}
img {
  max-width: 100%;
  vertical-align: bottom;
  height: auto;
  border: 1px solid var(--y-image-border-color);
}
figure {
  margin-block: 1lh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
figcaption {
  margin-block-start: 0.66667lh;
  font-size: .8em;
}
small {
  line-height: 1;
}
ul, ol {
  margin-block: 1lh;
  line-height: 1;
  padding-inline-start: var(--y-rhythm-2);
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0;
}
ul li,
ol li {
  line-height: var(--y-rhythm-3);
  font-size: 1rem;
}
ul:not([class]) {
  list-style-type: none;
  position: relative;
}
ul:not([class]) li::before {
  background-color: var(--y-list-mark-color);
  border-radius: 50%;
  color: #fff;
  content: "";
  width: .35em;
  height: .35em;
  margin: calc(.6em) 0 0;
  position: absolute;
  left: 0;
}
dl {
  margin-block: 1lh;
  line-height: 1;
}
dt, dd {
  line-height: var(--y-rhythm-3);
  font-size: 1rem;
}
dd {
  margin-inline-start: var(--y-rhythm-4);
}
details > summary {
  margin-block: 1lh;
  cursor: pointer;
}
blockquote {
  border-inline-start: 6px solid var(--y-blockquote-border-color);
  margin: var(--rhythm) 0 var(--rhythm) var(--rhythm);
  padding-inline: var(--y-rhythm-2);
}
address {
  margin-block: 1lh;
}
pre {
  margin-block: 1lh;
  font-size: .8rem;
}
hr {
  margin-block: 1lh;
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: var(--y-hr-border-color);
}
table {
  display: block;
  overflow-x: scroll;
  border-collapse: collapse;
  width: max-content;
  max-width: 100%;
  margin-block: 1lh;
}
caption {
  padding: 0 8px;
  font-size: 1rem;
  line-height: var(--y-rhythm-3);
}
thead {
  background-color: var(--y-thead-background-color);
  color: var(--y-thead-text-color);
}
th, td {
  border: 1px solid var(--y-table-border-color);
  padding: 0 8px;
  font-size: .8rem;
  line-height: var(--y-rhythm-3);
}
