---
import BaseHead from "../components/BaseHead.astro";
import GlobalHeader from "../components/global/GlobalHeader.astro";
import GlobalFooter from "../components/global/GlobalFooter.astro";

import { getLanguageFromURL } from "../i18n/util";
const lang = getLanguageFromURL(Astro.url.pathname);
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <BaseHead />
  </head>
  <body>
    <GlobalHeader />
    <slot />
    <GlobalFooter />
  </body>
</html>
