---
import BaseHead from "../components/BaseHead.astro";
import GlobalFooter from "../components/global/GlobalFooter.astro";
import GlobalHeader from "../components/global/GlobalHeader.astro";

import { getLanguageFromURL } from "../i18n/util";

const lang = getLanguageFromURL(Astro.url.pathname);
const pageTitle: string = Astro.props.title;
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead title={`${pageTitle} | yamanoku.net`} />
  </head>
  <body>
    <GlobalHeader />
    <slot />
    <GlobalFooter />
  </body>
</html>
