name: Build HTML Checker

on:
  pull_request:
    types: [opened, synchronize, labeled]

jobs:
  build:
    # プルリクエストに dependencies ラベルを付けたとき
    # dependencies ラベルがついている状態で、 Push したとき
    if: |
      ((github.event.action == 'labeled') &&
        (github.event.label.name == 'dependencies')) ||
      ((github.event.action == 'synchronize') &&
        contains(github.event.pull_request.labels.*.name, 'dependencies'))

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Install pnpm
      uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'
    - name: build check
      run: |
        pnpm install
        pnpm run build
    - name: check markuplint
      run: |
        pnpm run markuplint
      env:
        CI: true
