name: Deploy

on:
  pull_request:
    branches:
      - nuxt
    types: [closed]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
    - uses: actions/checkout@v2.3.1
      with:
        persist-credentials: false
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: yarn install and generate
      run: |
        yarn install
        yarn generate --fail-on-error
      env:
        CI: true

    - name: deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.YAMANOKUIO_DEPLOY_TOKEN }}
        publish_branch: master
        publish_dir: ./dist
