name: yama-normalize Lint


on:
  pull_request:
    branches:
      - dev
    paths:
      - "packages/yama-normalize/yama-normalize.css"
      - "packages/yama-normalize/eslint.config.mjs"
      - "packages/yama-normalize/package.json"

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [latest]

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Install pnpm
      uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'
    - name: eslint/css
      run: |
        pnpm install
        pnpm yama-normalize test
      env:
        CI: true
