---
import GlobalLinkComponent from "./GlobalLinkComponent.astro";
import type { ListItem } from "./GlobalTypes";

interface Props {
  list: ListItem[];
}

const { list } = Astro.props;

const dateStirngReplace = (date: string) => {
  return date.replace(/T.*$/, "").replace(/(-)/g, "/");
};
---

<ul>
  {
    list.map(listItem => (
      <li>
        {listItem.datetime && (
          <span class="time">{dateStirngReplace(listItem.datetime)} - </span>
        )}
        {listItem.url ? (
          <GlobalLinkComponent link={listItem} />
        ) : (
          listItem.title
        )}
      </li>
    ))
  }
</ul>

<style>
  .time {
    font-variant-numeric: tabular-nums;
  }
</style>
