---
import GithubIcon from "../svg-icons/GithubIcon.astro";
import type { LinkItem } from "./GlobalTypes";

/* eslint-disable-next-line @typescript-eslint/no-unused-vars */
interface Props {
  link: LinkItem;
}

const { link } = Astro.props;
---

<a href={link.url}>
  {link.title}
  {link.isGitHubLink ? <GithubIcon /> : ""}
</a>
