---
import GlobalLinkComponent from "./GlobalLinkComponent.astro";
import type { ListItem } from "./GlobalTypes";

const { class: className } = Astro.props;

interface Props {
  list: ListItem[];
}

const { list } = Astro.props;

const dateStirngReplace = (date: string) => {
  return date.replace(/T.*$/, "").replace(/(-)/g, "/");
};
---

<ul class={className}>
  {
    list.map(listItem => (
      <li>
        {listItem.datetime && (
          <span class="tabular-nums">
            {dateStirngReplace(listItem.datetime)} -{" "}
          </span>
        )}
        {listItem.url ? (
          <GlobalLinkComponent link={listItem} />
        ) : (
          listItem.title
        )}
      </li>
    ))
  }
</ul>
