---
import GlobalLinkComponent from "./GlobalLinkComponent.astro";

const today = new Date();
---

<footer class="text-center">
  <p>&copy; Copyright {today.getFullYear()}, Okuto Oyama</p>
  <p>
    Source :
    <GlobalLinkComponent
      link={{
        title: "yamanoku/yamanoku.github.io",
        url: "https://github.com/yamanoku/yamanoku.github.io/"
      }}
    />
  </p>
</footer>
