---
import ExternalLinkIcon from "../svg-icons/ExternalLinkIcon.astro";
import GithubIcon from "../svg-icons/GithubIcon.astro";
import type { LinkItem } from "./GlobalTypes";

interface Props {
  link: LinkItem;
}

const { link } = Astro.props;
---

<a
  href={link.url}
  target={link.isExternal ? "_blank" : undefined}
  rel={link.isExternal ? "noopener" : undefined}
>
  {link.title}
  {
    link.isGitHubLink ? (
      <GithubIcon />
    ) : link.isExternal ? (
      <ExternalLinkIcon />
    ) : (
      ""
    )
  }
</a>
