---
import { getLanguageFromURL, useTranslations } from "../../i18n/util";
const lang = getLanguageFromURL(Astro.url.pathname);
const t = useTranslations(Astro);
---

<header>
  <div class="inline-flex items-center gap-y-rhythm-1 my-y-rhythm-2 mx-0">
    <svg
      width="48"
      height="48"
      viewBox="0 0 246 242"
      role="img"
      aria-label="yamanoku"
    >
      <path
        class="translate-x-[-64px] translate-y-[-67px] fill-[#36465d] dark:fill-y-white-base"
        fill-rule="evenodd"
        d="M64,67v54l82,82-46,46v60h56L310,155V96H230l-21,20L160,67H64ZM176,203l-45,46h25L293,113H230l-39,39-31-31H94Z"
      ></path>
    </svg>
    <span>{t("header.text-beside-logo")}</span>
  </div>
  <nav
    class="flex flex-wrap justify-start items-center gap-y-rhythm-2"
    aria-label={t("multilingual")}
  >
    <a href="/" aria-current={lang === "ja" && "page"}>日本語ページ</a>
    <a href="/en/" aria-current={lang === "en" && "page"}>English Page</a>
  </nav>
</header>
